:root {
  --primary-color: #007bff;
  --secondary-color: #f7f7f7;
  --font-size-lg: 1.5rem;
  --spacing-lg: 2rem;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: backend;
  min-height: 99vh;
  background-color: var(--secondary-color);
}

.container {
  width: 60%;
  margin: var(--spacing-lg) auto;
  padding: var(--spacing-lg);
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn--primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn--primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.font--lg {
  font-size: var(--font-size-lg);
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
